<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js"></script>
    <title>Patients</title>
</head>
<body>
    <%- include ('./partials/navbar')%>
    <h1>Patients List</h1>

    <a href="patients/add">Add Patient</a>
    <table border="1">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Age</th>
                <th>Comorbid</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <% data.forEach(el => { %>
                <tr>
                    <td><%= el.id %></td>
                    <td><%= el.sayMyName() %></td>
                    <td><%= el.age %></td>
                    <td><%= el.comorbid %></td>
                    <form action="#">
                        <td><button formaction="patients/view/<%= el.id %>">View</button> <button onclick="return confirm('Are you sure want to remove <%= el.name%> from patients?')" type="submit"formaction="patients/delete/<%= el.id %>">Delete</button> </td>
                    </form>
                </tr>
            <% }) %>
        </tbody>
    </table>
    <br>
    <canvas id="myChart" width="30px" !important; height="30px" !important></canvas>
    <br>

    <script>
        var ctx = document.getElementById('myChart');
        var myChart = new Chart(ctx, {
            type: 'pie',
            data: {
                labels: medname,
                datasets: [{
                    label: '# of Votes',
                    data: ammount,
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(255, 206, 86, 0.2)',
                        'rgba(75, 192, 192, 0.2)',
                        'rgba(153, 102, 255, 0.2)',
                        'rgba(255, 159, 64, 0.2)'
                    ],
                    borderColor: [
                        'rgba(255, 99, 132, 1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(75, 192, 192, 1)',
                        'rgba(153, 102, 255, 1)',
                        'rgba(255, 159, 64, 1)'
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                maintainAspectRatio: false
            }
        });
    </script>
</body>
</html>